html {
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

details {
    display: block;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, sans-serif;
    font-weight: 300;
    word-wrap: break-word;
    background-color: #000;
    color: #ececec;
    letter-spacing: 0.01em;
}

body > a {
    text-decoration: none;
}

a {
    color: #ececec;
}

p:last-of-type {
    margin-bottom: 0;
}

#container,
.header-title {
    margin: 0 auto;
    max-width: 800px;
}

header {
    display: block;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #3b3b3b;
}

h3 {
    margin: 0;
}

pre {
    overflow: auto;
}

.list-item {
    position: relative;
}

.list-item a {
    text-decoration: none;
    color: #ececec;
    outline: none;
}

.list-item a:visited {
    text-decoration: none;
    color: #969696;
}

.list-item .title {
    margin-right: 50px;
    font-size: 1.05rem;
    line-height: 1.4;
}

.list-item .story {
    padding: 6px 10px;
    margin-right: 70px;
    min-height: 60px;
}

.list-item .host {
    color: #d2d2d2;
    font-size: 0.85rem;
}

.comment-header {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.comment-header-author {
    color: gray;
}

.comments {
    padding: 10px;
    margin-left: -10px;
}

.no-comments {
    padding: 10px;
}

.comment {
    padding-left: 10px;
    border-left: 1px solid gray;
}

.comments > .comment {
    border-left: none;
}

.comment .text {
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 1.7;
}

.comment .text p {
    margin: 0 0 1em 0;
}

.comment .text p:last-child {
    margin-bottom: 0;
}

.children {
    margin-top: 10px;
}

.items > .comment {
    border-left: none;
}

.author {
    color: gray;
    border-bottom: 1px dashed gray;
    padding: 10px 0;
    cursor: pointer;
    font-size: 0.85rem;
}

aside {
    height: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
}

footer {
    text-align: center;
    padding: 10px;
}
