{% extends "base.html" %} {% block content %} {% for item in stories %}
<div class="list-item">
    <a href="{{item.href_url()}}" rel="noreferrer">
        <div class="story">
            <h3>{{item.title | assigned_or("No Title")}}</h3>
            <div class="host">{{item.display_url()}}</div>
        </div>
    </a>
    <a href="{{ item.rhxn_url() }}">
        <aside>
            <div class="comment-count">{{item.descendants}}</div>
            <div class="score">{{item.score}}</div>
        </aside>
    </a>
</div>
{% else %}
<li>No stories</li>
{% endfor %} {% endblock %}
