{% extends "base.html" %} {% block content %}
<div>
    <div class="comment-header">
        <h3>{{item.title | assigned_or("")}}</h3>
        {% if let Some(url) = item.url %}
        <a href="{{url}}" rel="noreferrer">{{item.display_url_long()}}</a>
        {% endif %}
        <div class="comment-header-author">
            By: {{item.by | assigned_or("")}}
        </div>
        <a href="{{item.hn_url()}}" rel="noreferrer">HN Link</a>
        {% if let Some(text) = item.text %}
        <div class="text">{{text | safe}}</div>
        {% endif %}
    </div>
    {% if let Some(c) = comments %}
    <div class="comments">{{c | safe}}</div>
    {% else %}
    <div class="no-comments">No comments yet.</div>
    {% endif %}
</div>
{% endblock %}
